{% extends 'base.html' %}


{% block content %}

     <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
$(document).ready(function() {
$(".alert").hide();fec1=$("#id_fecha_nacimiento").val();
if($("#msg1").html()>0){$("#malertf").show();$("#malertf").delay(3200).fadeOut(10);}
 $("#edad").val(calculaedad1(fec1));
$("#id_fecha_nacimiento").datepicker({format: 'dd/mm/yyyy (D)',language: 'es'}).on("change", function(e) {
fec1=$("#id_fecha_nacimiento").val();
 $("#edad").val(calculaedad1(fec1));
});

$("#id_fecha_nacimiento").blur(function() {
fec1=$("#id_fecha_nacimiento").val();
 $("#edad").val(calculaedad1(fec1));
 });

	});
</script>


<br>
  <div class="p-1 container border rounded bg-white shadow-sm" style="box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);">
 <div class="p-3"> <h6><font class="text-info">INGRESA Y/O EDITA INFORMACION DE PACIENTE</font></h6></div>


  <form class="form-horizontal" method="POST" id="id_form">{% csrf_token %}
      <div class="alert alert-danger" role="alert" id="malertf">
<strong>Error!</strong> Ya existe el tipo y número de documento.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

   <div class="row container ">
        <div class="col-sm ">
        <label class="control-label small" ><i class="fas fa-bug"></i><strong> TIPO DE DOCUMENTO</strong></label>
        {{ form.tipo_documento }}
     </div>
     <div class="col-sm ">
        <label class="control-label small" ><i class="fas fa-briefcase"></i><strong> NUMERO DE DOCUMENTO</strong></label>
           {{ form.numero_documento }}
    </div>
       <div class="row container ">
       <div class="col-sm">
        <label class="control-label small" ><i class="fas fa-briefcase"></i><strong> NOMBRES</strong></label>
           {{ form.nombres }}
    </div>
     <div class="col-sm ">
        <label class="control-label small" ><i class="fas fa-briefcase"></i><strong> APELLIDO PATERNO</strong></label>
           {{ form.apellido_paterno }}
    </div>
       </div>
        <div class="row container ">
       <div class="col-sm ">
        <label class="control-label small" ><i class="fas fa-briefcase"></i><strong> APELLIDO MATERNO</strong></label>
           {{ form.apellido_materno }}
    </div>
     <div class="col-sm ">
        <label class="control-label small" ><i class="fas fa-briefcase"></i><strong> FECHA DE NACIMIENTO</strong></label>
           {{ form.fecha_nacimiento }}
    </div>
       </div>
    <div class="row container ">
    <div class="col-sm-6">
        <label class="control-label small" ><i class="fas fa-briefcase"></i><strong> EDAD</strong></label>
        <input type="unidadmedida" class="form-control  col-sm-40 " id="edad" value=""  readonly >
    </div>
     <div class="col-sm ">
       <div class="row">
        <div class="col-md">
        </div>
        </div>
    </div>
    </div>


     <div class="alert alert-success" role="alert" id="malertm">
<strong>Modificado!</strong> Los datos fueron modificados correctamente.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
       <div><br><br></div>
    <div class="row container ">
        <div class="col-sm ">
   <button type="submit"  class="btn btn-info" onclick="" id="guardar" value="GUARDAR"><span class="fas fa-save"></span> GUARDAR</button>
            {% if enc1 > 0 %}
            <div id="msg1" style="display:none;visibility:hidden;">{{enc1}}</div>
            {% endif %}
   </div>
    </div>
<div><br></div>
     <div class="row container ">

     <div class="col-sm " id="mostrarb">
     <input type="hidden"  id="med">

     </div>

    </div>


  </form>

</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        <input type="hidden" class="form-control" id="idpersona" placeholder="">
      </div>
    </div>
  </div>
</div>





        </div>
    </div>
{% endblock %}

